# 依赖
/backend/node_modules
/frontend/node_modules

# 数据库
/backend/data

# 上传文件
/backend/uploads

# 编译产物
/backend/dist
/frontend/dist

# 编辑器/IDE
.vscode/
.idea/

# 系统文件
.DS_Store
Thumbs.db

# WorkBuddy
.workbuddy/
/.workbuddy
